@font-face {
  font-family: "ROBOTECHGPRegular";
  src: url("/fonts/robotech-gp/ROBOTECHGP.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Aldrich-Regular";
  src: url("/fonts/aldrich/Aldrich-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body, html {
  background-color: black;
  font-family: "Aldrich-Regular"
}
#Home {
  scroll-behavior: smooth;
  background-color: black;
  color: white;
}

/* 
a:link {
  color: white;
}


a:visited {
  color: white;
}


a:hover {
  color: green;
}


a:active {
  color: green;
} */

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: green;
}

a:link {
  color: white
}


.preloader {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: 1;
   width: 150px;
   height: 150px;
   margin: -75px 0 0 -75px;
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid green;
   width: 120px;
   height: 120px;
   -webkit-animation: spin 1s linear infinite;
   animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.preloader-text {
  position: absolute;
  left: 50%;
  top: 60%;
  transform:translateX(-50%);

}

/* Add animation to "page content" */
.page-wrapper {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {  opacity:0 } 
  to { opacity:1 }
}

@keyframes animatebottom { 
  from{ opacity:0 } 
  to{  opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.large-header {
position: relative;
width: 100%;
height: 100vh;
background: #111;
overflow: hidden;
background-size: cover;
background-position: center center;
z-index: 1;
}

.card {
  background-color: black;
}

a { color: inherit; } 

a:hover {
  color: green;
  text-decoration: none;
}

.demo .large-header {
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title {
width: 100%;
position: absolute;
margin: 0;
padding: 0;
color: #F9F1E9;
text-align: center;
top: 42%;
left: 50%;
-webkit-transform: translate3d(-50%, -50%, 0);
transform: translate3d(-50%, -50%, 0);
}

.welcome-icons {
position: absolute;
margin: 0;
padding: 0;
width: 50%;
letter-spacing: 7em;
color: white;
text-align: center;
top: 85%;
left: 50%;
-webkit-transform: translate3d(-50%, -50%, 0);
transform: translate3d(-50%, -50%, 0);
}

.landingIcons {
  font-size: 3em;
}

.welcome-icons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  vertical-align: bottom;

}

.demo .main-title  {
font-family: 'ROBOTECHGPRegular';
font-weight: bold;
font-style: normal;
text-transform: uppercase;
font-size: 7em;
letter-spacing: 0.1em;
}

.main-title .thin {
font-weight: 200;
}

.thin {
font-size: 0.5em;
}
.description {
text-align: left;
}

@media only screen and (max-width: 1020px) {
  .welcome-icons {
    position: absolute;
    margin: 0;
    padding: 0; 
    width: 80%;
    letter-spacing: 3em;
    color: white;
    text-align: center;
    top: 85%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  .landingIcons {
    font-size: 3em;
  }
}

@media only screen and (max-width: 570px) {
.welcome-icons {
position: absolute;
margin: 0;
padding: 0;
/* width: 100%; */
letter-spacing: 1em;
color: white;
text-align: center;
top: 85%;
left: 50%;
-webkit-transform: translate3d(-50%, -50%, 0);
transform: translate3d(-50%, -50%, 0);
}

.landingIcons {
  font-size: 3em;
}
}

@media only screen and (max-width: 768px) {
.demo .main-title  {
font-size: 3em;
}
}


@media only screen and (max-width: 768px) {
  .preloader-text {
  font-size: 40px;
  }
  }

  @media only screen and (max-width: 450px) {
      .preloader-text {
      font-size: 30px;
      }
      }

  @media only screen and (max-width: 350px) {
      .preloader-text {
      font-size: 20px;
      }
      }

.page-wrapper{

  font-family: 'Aldrich-Regular';
  background: black;
  color: whitesmoke;
}

#navbar-text {
color: whitesmoke;
}

.page-content {
padding-top: 50px;
}

.profile-image{
margin-top: 30px;
padding-bottom: 20px;
width: 210px;
}

.project-image {
width: 100%;
padding-bottom: 30px;
}


@media only screen and (max-width: 765px) {
.project-image {
width: 80%;
}
}

.project-title {
display: inline-block;
}

i {
padding-left:10px;
}

#footer {
background-color: black;
color: whitesmoke;
}
h1{
background: -webkit-linear-gradient(rgb(255, 254, 254),green);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 10vw;
}

h1, h2 {
font-family: 'ROBOTECHGPRegular';
font-weight: bold;
font-style: normal;
}

.title {
font-size: 8vw;
}

.project-cards {
padding: 50px;
margin-bottom: 50px;
background-color: black;
}

.navbar-custom {
background-color: black;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
color: green;
}

.project-section {
  background-color: black;
}

.project-icons {
display: flex;
justify-content: space-between;
height: 40px;
vertical-align: bottom;
}

.project-col {
text-align: center;
}

.submit {
background-color: black;
}

.submit:hover {
background-color: green;
}

.navbar-logo {
font-family: 'ROBOTECHGPRegular';
font-weight: bold;
font-style: normal;
}


a { color: inherit; } 

a:hover {
color: green;
text-decoration: none;
}


.border-success {
  border: 1px solid green;
}

.email {
  color: green;
}

/* AWS ICON */
.st0 {
  fill:white
}
.st1 {
  fill:#f90
}